@import "compass/reset";

h1 {
  text-align: center;
  font-size: 42px;
}

div {
  padding: 14px;
}

.body {
  margin-top: 60px;

  .abstract {
    text-align: center;
  }

  .logos {
    text-align: center;
    width: 100%;
  }
}

