---
title: Simon Mathieu
---

%h1 Hello, I'm Simon

.abstract
  I write software for startups.

.logos
  %a{href: "https://github.com/smathieu"}
    = image_tag "GitHub.png", alt: "Github"

  %a{href: "https://twitter.com/smathieu"}
    = image_tag "Twitter.png", height: "120", width: "148", alt: 'Twitter'

  %a{href: "https://www.linkedin.com/in/simonmathieu"}
    = image_tag "LinkedIn.png", alt: 'LinkedIn'
