---
title: Simon Mathieu
---

%h1 Hello, I'm Simon

.abstract
  I write software for startups.

.logos
  %a{href: "https://github.com/smathieu"}
    = image_tag "github.png", alt: "Github"

  %a{href: "https://twitter.com/smathieu"}
    = image_tag "twitter.png", alt: 'Twitter'

  %a{href: "https://www.linkedin.com/in/simonmathieu"}
    = image_tag "LinkedIn.png", alt: 'LinkedIn'


.email
  %a{href: 'mailto:me@simonmathieu.com'} Hire Me
