---
title: Welcome to Middleman
---
<div id="about_me">
  <h2>About me</h2>
  <p>
  I'm a software developer working in the Montreal, QC area and an alumni from the <a href="http://www.usherbrooke.ca/">Universit&eacute; de Sherbrooke</a>. Please feel free to browse through my LinkedIn page a list of my previous work experience, read my blog or follow me on twitter.
  </p>

  <p>
  I'm currently a freelance developer and involved in the startup community  in Montr&eacute;al.
  </p>
  <p>
  I specialize in backend development, distributed system, scalability and code optimization.
  </p>
  <center>
    <table class="table-list">
      <thead>
        <tr>
          <td>Experienced In:</td>
          <td>Known programming languages:</td>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td width = "50%">
          <ul>
            <li>
            Ruby on Rails
            </li>

            <li>
            Back-end architecture
            </li>

            <li>
            jQuery
            </li>

            <li>
            NoSQL (MongoDB)
            </li>

            <li>
            Relational Databases(MySQL, PosgreSQL, Oracle)
            </li>

            <li>
            Hadoop (MapReduce)
            </li>

            <li>
            GPU computation using CUDA and Thrust
            </li>

            <li>
            Automated testing and best practices
            </li>

            <li>
            Python
            </li>

            <li>
            AppEngine
            </li>

            <li>
            STL and Boost Libraries
            </li>
          </ul>
        </td>
        <td>
          <ul>
            <li>
            Ruby
            </li>

            <li>
            Python
            </li>

            <li>
            JavaScript
            </li>

            <li>
            Objective-C
            </li>

            <li>
            Java
            </li>

            <li>
            C#
            </li>

            <li>
            C, C++
            </li>
            <li>
            And more ...
            </li>
          </ul>
        </td>
      </tr>

      </tbody>
    </table>
  </center>
</div>

<div id="projects">
  <h2>Projects</h2>
  <p>
  Here's a list of a few of the projecs I've worked on. 
  </p>
  <p>
  <a href="http://www.greenpeppersoftware.com/confluence/display/GPO/Download"><img src="images/greenpepper-logo-small.png"/></a>
  </p>
  <p>
  <a href="http://github.com/smathieu/Easy-Metric"><img src="images/easy_metric_logo.png"/></a>
  </p>
  <p> 
  <a href="http://pyalpha.com"><img src="images/pyalpha.png"/></a> 
  </p> 
  <a href="http://mynextpad.info/"><img src="http://mynextpad.info/images/logo/mynextpad-logo-300px.png"/></a> 
  </p> 

</div>

<div id="contact">
  <h2>Contact</h2>
  <p>
  <a href="mailto:me@simonmathieu.com">me@simonmathieu.com</a>
  </p>
</div>
